/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  padding: 0 1rem;
  border-bottom: var(--border);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
