@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  margin: 0;
  background: rgb(19, 19, 19);
  color: #fff;
  font-family: roboto, 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #dadce1;
}

.logo {
  width: 77px;
  height: 74px;
}
